<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ if not .IsHome }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/screen.css" type="text/css" media="screen" charset="utf-8">
    <script src="https://kit.fontawesome.com/d4debd1097.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="content">

      <header>
        <h1><a href="/"><span>Aaron Bieber</span></a></h1>
      </header>

      <ul class="navigation">
        <li{{ if .IsHome }} class="active"{{ end }}><a href="/">Home</a></li>
        <li><a href="https://gallery.aaronbieber.com" target="_blank">Gallery <i class="fa-solid fa-arrow-up-right-from-square nav-gray"></i></a></li>
        {{ $currentNavitem := .Page.Params.navitem }}
        {{ range .Site.RegularPages }}
          <li{{ if eq .Params.navitem $currentNavitem }} class="active" {{ end }}><a href="{{ .Permalink }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>

      <div class="words">
        {{- block "main" . }}{{- end }}

        <div class="social">
          <a href="https://github.com/aaronbieber" title="Github">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="fa-solid fa-square fa-stack-2x"></i>
              <i class="fa-solid fa-brands fa-github fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://www.linkedin.com/in/aaronbieber" title="LinkedIn">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="fa-solid fa-square fa-stack-2x"></i>
              <i class="fa-solid fa-brands fa-linkedin-in fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="https://twitter.com/aaronbieber" title="Twitter">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="fa-solid fa-square fa-stack-2x"></i>
              <i class="fa-solid fa-brands fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a rel="me" href="https://indieweb.social/@aaronbieber" title="Mastodon">
            <span class="fa-stack" style="vertical-align: top;">
              <i class="fa-solid fa-square fa-stack-2x"></i>
              <i class="fa-solid fa-brands fa-mastodon fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
  </body>
</html>
